
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/appointment

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

TEST_USER_EMAIL=test@example.com
TEST_USER_PASSWORD=securePassword123
